<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1>MK</h1>
  	<form method="post" action="/personajes">
  		<input id="entrada" type="submit" value="entrada"></input>
  	</form>
  </body>
</html>
