<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Seleccione personaje</h1>

	<form>
		<input type="radio" name="personaje1" value="LIU KANG">LIU KANG</input>
		<br>
		<input type="radio" name="personaje1" value="JOHNNY CAGE">JOHNNY CAGE</input>
		<br>
		<input type="radio" name="personaje1" value="KANO">KANO</input>
		<br>				
		<input type="radio" name="personaje1" value="SUBZERO">SUBZERO</input>
		<br>
		<input type="radio" name="personaje1" value="RAIDEN">SONYA BLADE</input>
		<br>
		<input type="radio" name="personaje1" value="RAIDEN">RAIDEN</input>
		<br>
		<input type="radio" name="personaje1" value="SCORPION">SCORPION</input>
		<br>
		<input type="radio" name="personaje1" value="REPTILE">REPTILE</input>
		<br>
		<input type="radio" name="personaje1" value="GORO">GORO</input>
		
		<br>
		<HR width=50%>											
		
		<input type="radio" name="personaje2" value="LIU KANG">LIU KANG</input>
		<br>
		<input type="radio" name="personaje2" value="JOHNNY CAGE">JOHNNY CAGE</input>
		<br>
		<input type="radio" name="personaje2" value="KANO">KANO</input>
		<br>				
		<input type="radio" name="personaje2" value="SUBZERO">SUBZERO</input>
		<br>
		<input type="radio" name="personaje2" value="RAIDEN">SONYA BLADE</input>
		<br>
		<input type="radio" name="personaje2" value="RAIDEN">RAIDEN</input>
		<br>
		<input type="radio" name="personaje2" value="SCORPION">SCORPION</input>
		<br>
		<input type="radio" name="personaje2" value="REPTILE">REPTILE</input>
		<br>
		<input type="radio" name="personaje2" value="GORO">GORO</input>
		<br>
		<br>	

		<input id="pelea" type="submit" value="pelea"></input>

	</form> 
</body>
</html>